<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
	https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
	version="6.0">
<!--	<servlet>-->
<!--		<servlet-name>param-servlet</servlet-name>-->
<!--		<servlet-class>chapter19.ParamServlet</servlet-class>-->
<!--		<init-param>-->
<!--			<param-name>message</param-name>-->
<!--			<param-value>servlet-init-param</param-value>-->
<!--		</init-param>-->
<!--	</servlet>-->

<!--	<servlet-mapping>-->
<!--		<servlet-name>param-servlet</servlet-name>-->
<!--		<url-pattern>/chapter19/param-servlet</url-pattern>-->
<!--	</servlet-mapping>-->
	
	
<!--	<filter>-->
<!--		<filter-name>param-filter</filter-name>-->
<!--		<filter-class>chapter19.ParamFilter</filter-class>-->
<!--		<init-param>-->
<!--			<param-name>message</param-name>-->
<!--			<param-value>filter-init-param</param-value>-->
<!--		</init-param>-->
<!--	</filter>-->
<!--	<filter-mapping>-->
<!--		<filter-name>param-filter</filter-name>-->
<!--		<url-pattern>/chapter19/param-servlet</url-pattern>-->
<!--	</filter-mapping>-->
	
<!--	<context-param>-->
<!--		<param-name>message</param-name>-->
<!--		<param-value>context-param</param-value>-->
<!--	</context-param>-->
	<!-- <servlet> -->
	<!-- <servlet-name>hello3</servlet-name> -->
	<!-- <servlet-class>chapter3.Hello</servlet-class> -->
	<!-- </servlet> -->
	<!-- <servlet-mapping> -->
	<!-- <servlet-name>hello3</servlet-name> -->
	<!-- <url-pattern>/chapter4/hello3</url-pattern> -->


	<!-- </servlet-mapping> -->

	<!-- <servlet> -->
	<!-- <servlet-name>param-servlet</servlet-name> -->
	<!-- <servlet-class>chapter19.ParamServlet</servlet-class> -->
	<!-- <init-param> -->
	<!-- <param-name>message</param-name> -->
	<!-- <param-value>servlet-init-param</param-value> -->
	<!-- </init-param> -->
	<!-- </servlet> -->
	<!-- <servlet-mapping> -->
	<!-- <servlet-name>param-servlet</servlet-name> -->
	<!-- <url-pattern>/chapter19/param-servlet</url-pattern> -->
	<!-- </servlet-mapping> -->

	<!-- <filter> -->
	<!-- <filter-name>param-filter</filter-name> -->
	<!-- <filter-class>chapter19.ParamFilter</filter-class> -->
	<!-- <init-param> -->
	<!-- <param-name>message</param-name> -->
	<!-- <param-value>filter-init-param</param-value> -->
	<!-- </init-param> -->
	<!-- </filter> -->
	<!-- <filter-mapping> -->
	<!-- <filter-name>param-filter</filter-name> -->
	<!-- <url-pattern>/chapter19/param-servlet</url-pattern> -->
	<!-- </filter-mapping> -->

	<!-- <context-param> -->
	<!-- <param-name>message</param-name> -->
	<!-- <param-value>context-param</param-value> -->
	<!-- </context-param> -->


	<!--<filter> -->
	<!-- <filter-name>hellofilter</filter-name> -->
	<!-- <filter-class>chapter10.HelloFilter</filter-class> -->
	<!--</filter> -->
	<!--<filter-mapping> -->
	<!-- <filter-name>hellofilter</filter-name> -->
	<!-- <url-pattern>/chapter3/hello</url-pattern> -->
	<!--</filter-mapping> -->

	<!--<filter> -->
	<!-- <filter-name>hellofilter2</filter-name> -->
	<!-- <filter-class>chapter10.HelloFilter2</filter-class> -->
	<!--</filter> -->
	<!--<filter-mapping> -->
	<!-- <filter-name>hellofilter2</filter-name> -->
	<!-- <url-pattern>/chapter3/hello</url-pattern> -->
	<!--</filter-mapping> -->
</web-app>
